*.aux
*.bbl
*.blg
*.log
*.out
*.toc
.*.swp
*.synctex
*.pdf
*.dvi

/thirdparty/
/lib/
/bin/
Makefile
*/CMakeFiles/
/CMakeFiles/
*.cmake
CMakeCache.txt

*.pptx
*.xlsx
*.sty
*.gz
*.dtx

x64/*
.vs/*
*/x64/*
*/.vs/*
*/*.user

log.txt
*/log.txt

*.bin
*.json

*.psess
*.vspx
frontend/My Amplifier Results - frontend/
frontend/My Advisor Results - frontend/