*.aux
*.bbl
*.blg
*.log
*.out
*.toc
.*.swp
*.synctex
*.pdf
*.dvi


*.pptx
*.xlsx
*.sty
*.gz
*.dtx

x64/*
.vs/*
*/x64/*
*/.vs/*
*/*.user

log.txt
*/log.txt
*.txt
*.bin
*.json

*.psess
*.vspx
frontend/My Amplifier Results - frontend/
frontend/My Advisor Results - frontend/